:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --border-color: #dee2e6;
  --message-bg-color: #d4edda;
  --message-text-color: #155724;
}

.MyPosts {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.MyPosts h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.filters {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters button {
  padding: 10px 20px;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border-radius: 0; /* Default border radius for middle buttons */
  font-size: 1em;
}

.filters button:first-child {
  border-radius: 20px 0 0 20px; /* Rounded borders for the first button */
}

.filters button:last-child {
  border-radius: 0 20px 20px 0; /* Rounded borders for the last button */
}

.filters button.active,
.filters button:hover {
  background-color: var(--primary-color);
  color: #fff;
  transform: scale(1.05); /* Slight zoom on hover/active */
}

.filters button:active {
  transform: scale(0.95); /* Slight shrink on click */
}

.message {
  padding: 10px 15px;
  background-color: var(--message-bg-color);
  color: var(--message-text-color);
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .MyPosts {
    font-size:16px ;
    padding:10px;
  }

  .filters {
    align-items: center;
  }

  .filters button {
    height: 60px;
    width: 70%;
    margin-bottom: 10px; /* Full rounded corners on mobile */
  }

  .MyPosts h1 {
    font-size: 1.5em;
  }
}
