/* SearchPage.css */

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: aliceblue;
}


.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 80%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.product-details-page.product-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .loading-circle {
    width: 100px;
    height: 100px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: relative;
    bottom: 16%;
  
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }