/* SearchPage.css */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 80%;
    max-width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
